<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Hi, ich bin der Micha und ich liebe
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Angular</a></li>
    <li><a class="dropdown-item" href="#">mehr als</a></li>
    <li><a class="dropdown-item" href="#">React und Vue</a></li>
  </ul>
</div>

<div class="dropdown theme-2">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Und das stimmt auch...
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">mit</a></li>
    <li><a class="dropdown-item" href="#">anderen</a></li>
    <li><a class="dropdown-item" href="#">Theme Colors</a></li>
  </ul>
</div>